# Copy this file to .env and fill the values
PORT=4000
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.xxx.mongodb.net/tswal?retryWrites=true&w=majority
ALLOWED_ORIGINS=http://localhost:3000,https://your-prod-domain.com
